.banner::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: -30%;
  height: 180%;
  width: 150%;
  left: -25%;
  background: url(/images/noise.webp) repeat, linear-gradient(83.21deg, #ff8132 0%, #fb9f26 100%);
  background-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
}
