---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Page Not Found">
  <section class="py-28 text-white rounded-b-2xl h-[60dvh] flex items-center">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="text-center">
            <h1 class="font-medium mb-4 text-white/75">404</h1>
            <p class="text-6xl -ml-4 -mb-2 -rotate-12 text-white/50">Page</p>
            <p class="text-6xl">Not</p>
            <p class="text-6xl -rotate-12 -mt-4 ml-2 text-white/50">Found</p>
            <a href="/" class="button mt-12">
              <span>Back to home</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>