---
import PageHeader from "@components/PageHeader.astro";
import Layout from '@layouts/Layout.astro';

import { getEntry, render } from "astro:content";
const privacyPage = await getEntry("pages", "privacy");
if (!privacyPage || privacyPage?.data.draft) 
  return new Response(null, { status: 404, headers: { 'content-type': 'text/html' } });

const { title, subtitle } : any = privacyPage?.data;
const { Content } = await render(privacyPage);

---
<Layout title={title} description={subtitle}>
  <PageHeader title={title} subtitle={subtitle} />
  
  <section class="py-20 md:py-28 bg-white text-dark rounded-b-2xl">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content content-dark">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
